.cus_card {
  background-color: var(--bg-300);
}

.image_container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  padding: 30px;
  cursor: pointer;
}

.image_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.image_container:hover img {
  transform: scale(1.2);
}

.sub_heading {
  color: var(--text-100);
  font-weight: bold;
}

ol li {
  color: var(--text-200);
  text-align: justify;
  margin-bottom: 10px;
}

.paragraph_txt {
  color: var(--text-200);
  padding-left: 1rem;
  text-align: justify;
}

.highlight_txt {
  color: var(--text-100);
  background-color: var(--primary-100);
  border-radius: 5px;
}